/* CSS for elements specific to the about page */

html, body {
    height: 100%;
    position: relative;
}

/* navbar */
#language-selector-btn {
    height: 36px;
    background: transparent;
    border-color: #343a40;
    color: #343a40;
    /* position: relative;
    bottom: 5px; */
    /* border-radius: 1rem !important; */
}

.btn:focus {
    box-shadow: none !important;
}

.btn {
    padding: 0 0.5rem !important;
}

.btn > .material-icons {
    padding-right: 0.2rem;
}

/* content */
.main-content {
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    position: absolute;
    padding-bottom: 646px;
}

/* mission section */
.mission-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.youtube-icon {
    display: flex;
    justify-content: center;
}

.youtube-icon > .fa-youtube {
    font-size: 36px;
}

.youtube-icon > span {
    padding-left: 5px;
    font-size: 26px;
}

.mission-statements {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-player {
    width: 50%
}

/* value statements */
.values-container > h4 {
    position: absolute;
    z-index: 2;
}

.values-container .value > p {
    padding: 2rem 0;
}

.value {
    padding: 0 3rem !important;
}

.red-underline-basic {
    height: 10px;
    background-color: red;
    position: absolute;
    z-index: 1;
}

#underline-expression {
    width: 120px;
    position: absolute;
    z-index: 1;
    top: 14%;
    right: 31%;
}

#underline-information {
    width: 128px;
    position: absolute;
    z-index: 1;
    top: 14%;
    right: 30%;
}

#underline-opportunity {
    width: 128px;
    position: absolute;
    z-index: 1;
    top: 14%;
    right: 30.2%;
}

#underline-belong {
    width: 78px;
    position: absolute;
    z-index: 1;
    top: 14%;
    right: 34%;
}

/* latest news and trending */
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    padding: 3rem 0;
}

.latest-news, .trending {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}

.latest-news > a, .trending > a {
    font-size: medium;
    text-decoration: underline;
}

/* footer  */
.footer {
    width: 100%;
    padding: 2rem 8rem;
    background-color: black;
    color: #c4c4c4;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0;
}

.socials > .fab {
    font-size: 20px;
    padding: 0 2rem;
}

li {
    padding: 0.5rem 0 !important;
}

li > a {
    color: #c4c4c4 !important;
}

.final-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.final-row > a {
    padding: 0 1.5rem;
    color: #c4c4c4;
}

.final-row > a:hover {
    color: #c4c4c4;
}





