/* CSS for landing-page specific elements */

/* for buttons on top right corner */
.btn-create-video {
    bottom: 10px;
}

.top-right-button-group > .material-icons {
    display: inline;
    top: 0px !important;
}

.top-right-button-group {
    float: right;
    padding: 1rem;
    font-weight: bold !important;
}

/* for main content */
.main-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.home-greeting {
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
}

.form-inline {
  justify-content: center;
}

#search-bar-container {
    border-radius: 50px;
    width: 500px;
}

.input-group {
    padding: 0 10px;
}

/* tags */
.tags-container {
    text-align: center;
    color: #8a8a8a;
}

.btn-tag {
    background-color: #e5e5e5;
    border-radius: 20px !important;
    padding: 3px 26px !important;
    margin: 10px;
}

.btn-tag:hover {
    background-color: #d6d6d6;
}

/* see all at the bottom */
.see-all {
    text-align: center;
    font-weight: bold;
    bottom: 3%;
    left: 50%;
    margin: auto;
    position: absolute;
    transition: bottom ease 0.5s;
}

.see-all:hover {
    bottom: 5%;
}