/* Nav bar styling */
.navbar {
  /*elevation (horz length, vertical length, blur radius, spread radius, colour*/
  -webkit-box-shadow: 0 4px 4px -3px #444;
  -moz-box-shadow: 0 4px 4px -3px #444;
  box-shadow: 0 4px 4px -3px #444;
  padding: 0 1rem !important;
}

.navbar-nav > li { /* '>': to select the direct children of .navbar-nav */
  padding: 0.3rem 1rem;
  /* padding-right: 1rem; */
  font-size: medium;
}

.navbar .navbar-nav {
  margin: 0;
  align-items: center;
}

.navbar .nav-item a {
  color: black !important;
}

.active {
  background-color: #e5e5e5;
}

.navbar .navbar-nav li:hover {
  background-color: #f1f1f1;
}

.avatar {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

/* .nav-item .dropdown {
  vertical-align: middle;
} */

#user-settings-dropdown {
  /* padding: 0 !important; */
  vertical-align: middle;
  display: inline;
}

/* Main page styling */
.content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

#home-greeting {
  text-align: center;
  padding: 10px;
}

.form-inline {
  justify-content: center;
}

/* For FontAwesome icons */
.fas {
  color: #505050;
}

.material-icons {
  font-size: 16px;
}
