html body {
    font-family: Roboto !important;
}

/* Nav bar styling */
.navbar {
  -webkit-box-shadow: 0 4px 4px -3px #444;
  -moz-box-shadow: 0 4px 4px -3px #444;
  box-shadow: 0 4px 4px -3px #444;
  padding: 0 1rem !important;
}

.navbar-nav > li { /* '>': to select the direct children of .navbar-nav */
  padding: 0.3rem 1rem;
  font-size: medium;
}

.navbar .navbar-nav {
  margin: 0;
  align-items: center;
}

.navbar .nav-item a {
  color: black !important;
}

.active {
  background-color: #e5e5e5;
}

.navbar .navbar-nav li:hover {
  background-color: #f1f1f1;
}

.avatar {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.navbar .nav-item .dropdown-menu {
    -webkit-box-shadow: 0 4px 6px -3px #444;
    -moz-box-shadow: 0 4px 6px -3px #444;
    box-shadow: 0 4px 6px -3px #444;
}

#user-settings-dropdown {
  /* padding: 0 !important; */
  vertical-align: middle;
  display: inline;
}

.dropdown-item {
    height: 36px;
}

/* Main page styling */
.content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.home-greeting {
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
}

.form-inline {
  justify-content: center;
}

/* search bar */
/* .content .form-inline .form-control {
    background-color: #f7f7f7;
    border-radius: 20px;
    -webkit-box-shadow: 0 4px 6px -3px #444;
    -moz-box-shadow: 0 4px 6px -3px #444;
    box-shadow: 0 4px 6px -3px #444;
} */

#search-bar-container {
    border-radius: 50px;
    width: 500px;
}

.input-group {
    padding: 0 10px;
}

/* .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #f7f7f7;
} */

/* tags */
.tags {
    text-align: center;
}

.btn-tag {
    background-color: #e5e5e5;
    border-radius: 20px !important;
    padding: 3px 26px !important;
    margin: 10px;
}

.btn-tag:hover {
    background-color: #d6d6d6;
}

/* For icons */

/* .fas {
  color: #505050;
} */

.fa-youtube {
  font-size: 20px;
}

.material-icons {
  font-size: 16px;
  position: relative;
  top: 6px;
}
