/* CSS for general elements (across the pages) */

html body {
    font-family: Roboto !important;
}

/* nav bar */
.navbar {
  -webkit-box-shadow: 0 4px 4px -3px #444;
  -moz-box-shadow: 0 4px 4px -3px #444;
  box-shadow: 0 4px 4px -3px #444;
  padding: 0 1rem !important;
}

.navbar-nav > li { /* '>': to select the direct children of .navbar-nav */
  padding: 0.3rem 1rem;
  font-size: medium;
}

.navbar .navbar-nav {
  margin: 0;
  align-items: center;
}

.navbar .nav-item a {
  color: black !important;
}

.active {
  background-color: #e5e5e5;
}

.navbar .navbar-nav .left-navbar-item:hover {
  background-color: #f1f1f1;
}

.avatar {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.avatar-big {
    width: 36px;
    height: 36px;
}

/* dropdown menus */
.navbar .nav-item .dropdown-menu {
    -webkit-box-shadow: 0 0 8px -3px #444;
    -moz-box-shadow: 0 0 8px -3px #444;
    box-shadow: 0 0 8px -3px #444;
}

.dropdown-item {
    height: 36px;
}

#user-icon {
  padding: 0 !important;
}

.dropdown-item > .right-arrow {
    float: right;
}

#user-dropdown-user-info-container {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: flex-start;
}

#user-dropdown-user-info-container > .avatar {
    position: relative;
    top: 5px;
}

#user-dropdown-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

#user-dropdown-user-info > a:hover {
    text-decoration: none;
}

.dropdown-general-settings {
    width: 300px;
}

#general-settings-copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #8a8a8a;
    font-size: 0.75rem;
    padding-left: 1.5rem;
}

#general-settings-copyright > .material-icons {
    font-size: medium;
    top: 0px !important;
    padding-right: 8px;
}

#general-settings-small-links {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0.2rem 1.5rem;
}

#general-settings-small-links > a {
    padding-right: 10px;
}

/* buttons */
.btn {
    margin: 0 0.3rem;
}

.btn-primary {
    background-color: red !important;
    border-color: red !important;
}

.btn-outline-primary {
    color: red !important;
    border-color: red !important;
}

.btn-outline-primary:hover {
    color: #f1f1f1;
}

/* for icons */
.dropdown-menu-icon {
    font-size: 20px;
}

.fa-youtube {
  font-size: 20px;
}

.material-icons {
  position: relative;
  top: 6px;
}
