/* CSS for video-page specific elements */

/* search bar on navbar */
#search-bar-container {
    border-radius: 50px;
    width: 300px;
    background-color: #e5e5e5 !important;
}

.input-group {
    padding: 0 10px;
}

.input-group-prepend > .btn {
    padding: 0 !important;
}

.form-control {
    background-color: #e5e5e5 !important;
}

/* video player */
video-player {
    width: 1024px;
    height: 552px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
}

video-player > img {
    position: absolute;
    z-index: 1;
}

.video-player-controls-container {
    width: inherit;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    bottom: 8%;
}

.video-player-controls-row {
    position: absolute;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.video-player-controls-container .video-player-controls-row .material-icons {
    color: white;
    padding: 5px;
}

.progress {
    height: 5px !important;
    background-color: #e5e5e5 !important;
    border-radius: 0 !important;
}

.progress-bar {
    background-color: #c4c4c4 !important;
}

/* left and right columns */
.content {
    position: absolute;
    width: 85% !important;
    top: 650px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding: 0 5%;  */
}

/* left column */
.column-left {
    width: 80%;
    padding-right: 1%;
}

.video-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.video-actions > a {
    color: black;
}

.video-actions > a:hover {
    color: red;
}

.video-actions > a > .material-icons {
    padding: 5px;
}

.channel-info > a {
    font-weight: bold;
    color: black;
}

.channel-info > a:hover {
    text-decoration: none !important;
    color: black;
}

.btn {
    font-weight: bold;
    border-radius: 0 !important;
}

.comments-info {
    display: flexbox;
    flex-direction: row;
    align-items: flex-start;
}

.comments-info > text-button {
    padding: 0 10px;
}

#show-comments-btn {
    padding-top: 10px;
    padding-bottom: 24px;
}

/* right column */
.column-right {
    width: 20%;
    padding-left: 1%;
    display: flexbox;
    flex-direction: column;
    justify-content: start;
    /* align-items: space-between; */
}

.up-next-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding-bottom: 0.75rem;
}

.section-heading > text-button {
    padding: 0 1rem;
}

.autoplay-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
